.listItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
    border: 2px solid #2d7086;
    border-radius: .2em;
    padding: .5em;
}

.listItem-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.listItem-img {
    flex: 1 1 100%;
    max-width: 240px;
}

.labelGameName {
    font-size: 1.5em;
    flex: 5 1 auto;
}

.labelGameReg {
    font-size: .7em;
    flex: 0 1 auto;
}
