html,
body {
    height: 100%;
    font-family: Calibri;
}

label {
    font-weight: normal;
}

@media all and (min-width: 768px) {
    #react-app {
        width: 70%;
        margin: 0 auto;
        height: 100%;
    }
}



