.formContainer {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    font-size: 2em;
    color: #858585;
}

.formInput {
    background-color: transparent;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    border-bottom: 2px solid #858585;
    margin: .5em 0;
}

    .formInput:focus {
        outline: none;
        border-bottom: 2px solid #2d7086;
        color: #2d7086;
    }

.formButton {
    margin-top: 2em;
    color: #2d7086;
    border: 2px solid #2d7086;
    background-color: transparent;
    border-radius: .2em;
}

.errorLabel {
    color: #ff0000;
    text-align: center;
    margin: .5em 0;
    font-size: .9em;
}
